<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TbShareMapper">

    <resultMap id="BaseResultMap" type="com.pojo.TbShare">
            <id property="shareId" column="share_id" jdbcType="BIGINT"/>
            <result property="shareUser" column="share_user" jdbcType="BIGINT"/>
            <result property="shareUserfileId" column="share_userfile_id" jdbcType="BIGINT"/>
            <result property="shareComment" column="share_comment" jdbcType="VARCHAR"/>
            <result property="fileLocation" column="file_location" jdbcType="VARCHAR"/>
            <result property="shareDate" column="share_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insertShareFile">
        insert into tb_share values(null, #{shareUser}, #{shareUserfileId}, #{shareComment}, #{fileLocation}, #{shareDate})
    </insert>

    <select id="findALLShareFile" resultMap="BaseResultMap">
        select * from tb_share
    </select>
</mapper>
